# Firebase
firebase-debug.log
.firebase/

# Node
node_modules/
dist/
/lib/
functions/lib/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
emulator.log
firestore-debug.log
firestore-debug.log
service-account.json
